<style>
  .btn-login {
    width: 100%;
  }
</style>

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Login</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="button" class="btn btn-primary btn-login">Acessar</button>
  <!-- Changed type to "button" to prevent form submission -->
</form>

