<%- contentFor('body') %>
<header>
  <%- include('../components/navbar') %>
</header>
  <div class="container jumbotron">
    <h1 >Relatório dos Produtos Cadastrados</h1>
    <p>Verifique abaixo todos os produtos disponíveis, quantidade e valor unitário.</p>
  </div>

  <div class="container">
    <%- include('../components/table-home', {table : teste}) %>
  </div>